<h1>{{ otherProfile.user.username }}</h1>

<div class="col-lg-5">
    <h3 class="panel-title">Who is he :</h3>
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <ul class="list-group">
              <li class="list-group-item">{{ otherProfile.user.firstname }}</li>
              <li class="list-group-item">{{ otherProfile.user.lastname }}</li>
              <li class="list-group-item">{{ otherProfile.user.address }}</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
</div>
<div class=" col-lg-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">All other users :</h3>
    </div>
    <ul class="list-group">
      <li ng-repeat="other in otherProfile.listOthers" class="list-group-item"><div class="chip"><a href="/profile/{{ other._id }}">{{ other.username }}</a></div>
      </li>
    </ul>
  </div>
</div>
<div class="col m5">
  <table class="table table-bordered">
      <tr ng-repeat="message in otherProfile.messages">
          <td>{{message.authorId.username}}<br>{{message.createdAt | date:'medium'}}</td>
          <td>{{message.text}}</td>
      </tr>
  </table>
  <form ng-submit="otherProfile.sendMessage()">
      <div class="form-group">
          <label for="text">Text</label>
          <textarea class="form-control" id="text" placeholder="Message" ng-model="otherProfile.newmsg.text"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Send Message</button>
  </form>
</div>
